@page
@model GrocedyAPI.Models.ActivateAccountViewModel


<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title>
    </title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width">
    <style type="text/css">body, html {
      margin: 0px;
      padding: 0px;
      -webkit-font-smoothing: antialiased;
      text-size-adjust: none;
      width: 100% !important;
    }
      table td, table {
      }
      #outlook a {
        padding: 0px;
      }
      .ExternalClass, .ExternalClass p, .ExternalClass span, .ExternalClass font, .ExternalClass td, .ExternalClass div {
        line-height: 100%;
      }
      .ExternalClass {
        width: 100%;
      }a
      @@media only screen and (max-width: 480px) {
        table, table tr td, table td {
          width: 100% !important;
        }
        img {
          width: inherit;
        }
        .layer_2 {
          max-width: 100% !important;
        }
        .edsocialfollowcontainer table {
          max-width: 25% !important;
        }
        .edsocialfollowcontainer table td {
          padding: 10px !important;
        }
      }
    </style>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/spectrum/1.8.0/spectrum.min.css">
  </head>
  <body style="padding:0; margin: 0;background: #efefef">
    <table style="height: 100%; width: 100%; background-color: #efefef;" align="center">
      <tbody>
        <tr>
          <td id="dbody" data-version="2.31" style="width: 100%; height: 100%; padding-top: 30px; padding-bottom: 30px; background-color: #efefef;" valign="top">
            <!--[if (gte mso 9)|(IE)]><table align="center" style="max-width:600px" width="600" cellpadding="0" cellspacing="0" border="0"><tr><td valign="top"><![endif]-->
            <table class="layer_1" style="max-width: 600px; box-sizing: border-box; width: 100%; margin: 0px auto;" cellspacing="0" cellpadding="0" border="0" align="center">
              <tbody>
                <tr>
                  <td class="drow" style="background-color: #efefef; box-sizing: border-box; font-size: 0px; text-align: center;" valign="top" align="center">
                    <!--[if (gte mso 9)|(IE)]><table width="100%" align="center" cellpadding="0" cellspacing="0" border="0"><tr><td valign="top"><![endif]-->
                    <div class="layer_2" style="max-width: 300px; display: inline-block; vertical-align: top; width: 100%;">
                      <table class="edcontent" style="border-collapse: collapse;width:100%" cellspacing="0" border="0">
                        <tbody>
                          <tr>
                            <td class="edtext" style="padding: 20px; text-align: left; color: #5f5f5f; font-size: 14px; font-family: Helvetica, Arial, sans-serif; direction: ltr; box-sizing: border-box;" valign="top">
                              <p style="text-align: left; font-size: 9px; margin: 0px; padding: 0px;">
               <a href="@Model.URL" target="_blank" >
                             Activate your Grocedy account
                        </a>
                                <br>
                              </p>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                    <!--[if (gte mso 9)|(IE)]></td><td valign="top"><![endif]-->
                    <div class="layer_2" style="max-width: 300px; display: inline-block; vertical-align: top; width: 100%;">
                      <table class="edcontent" style="border-collapse: collapse;width:100%" cellspacing="0" border="0">
                        <tbody>
                          <tr>
                            <td class="edtext" style="padding: 20px; text-align: left; color: #5f5f5f; font-size: 14px; font-family: Helvetica, Arial, sans-serif; direction: ltr; box-sizing: border-box;" valign="top">
                              <p style="text-align: right; font-size: 9px; margin: 0px; padding: 0px;"> Unable to view? Read it 
                                <a href="{view}" style="font-size: 9px; color: #828282; font-family: Helvetica, Arial, sans-serif; text-decoration: none;">Online</a></p>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                    <!--[if (gte mso 9)|(IE)]></td></tr></table><![endif]-->
                  </td>
                </tr>
                <tr>
                  <td class="drow" style="background-color: #efefef; box-sizing: border-box; font-size: 0px; text-align: center;" valign="top" align="center">
                    <!--[if (gte mso 9)|(IE)]><table width="100%" align="center" cellpadding="0" cellspacing="0" border="0"><tr><td valign="top"><![endif]-->
                    <div class="layer_2" style="max-width: 600px; display: inline-block; vertical-align: top; width: 100%;">
                      <table class="edcontent" style="border-collapse: collapse;width:100%" cellspacing="0" cellpadding="0" border="0">
                        <tbody>
                          <tr>
                            <td class="edimg" style="padding: 20px; box-sizing: border-box; text-align: center;" valign="top">
                              <img src="https://api.elasticemail.com/userfile/ed9cf2fd-fb63-4572-b715-7b617c6b8655/Grocedy_high_def_logo.png" alt="Image" style="border-width: 0px; border-style: none; max-width: 177px; width: 100%;" width="177">
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                    <!--[if (gte mso 9)|(IE)]></td></tr></table><![endif]-->
                  </td>
                </tr>
                <tr>
                  <td class="drow" style="background-color: #ffffff; box-sizing: border-box; font-size: 0px; text-align: center;" valign="top" align="center">
                    <!--[if (gte mso 9)|(IE)]><table width="100%" align="center" cellpadding="0" cellspacing="0" border="0"><tr><td valign="top"><![endif]-->
                    <div class="layer_2" style="max-width: 600px; display: inline-block; vertical-align: top; width: 100%;">
                      <table class="edcontent" style="border-collapse: collapse;width:100%" cellspacing="0" cellpadding="0" border="0">
                        <tbody>
                          <tr>
                            <td class="emptycell" style="padding: 20px;" valign="top">
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                    <!--[if (gte mso 9)|(IE)]></td></tr></table><![endif]-->
                  </td>
                </tr>
                <tr>
                  <td class="drow" style="background-color: #ffffff; box-sizing: border-box; font-size: 0px; text-align: center;" valign="top" align="center">
                    <!--[if (gte mso 9)|(IE)]><table width="100%" align="center" cellpadding="0" cellspacing="0" border="0"><tr><td valign="top"><![endif]-->
                    <div class="layer_2" style="max-width: 600px; display: inline-block; vertical-align: top; width: 100%;">
                      <table class="edcontent" style="border-collapse: collapse;width:100%" cellspacing="0" border="0">
                        <tbody>
                          <tr>
                            <td class="edtext" style="padding: 20px; text-align: left; color: #5f5f5f; font-size: 14px; font-family: Helvetica, Arial, sans-serif; direction: ltr; box-sizing: border-box;" valign="top">
                              <p class="style1" style="margin: 0px; padding: 0px; color: #616262; font-size: 28px; font-family: Helvetica, Arial, sans-serif;">One more&nbsp;
                                <span style="color: #05a49a;">step...</span>
                              </p>
                              <p style="margin: 0px; padding: 0px;">
                                <br>
                              </p>
                              <p style="margin: 0px; padding: 0px;">Thank you for signing up to Grocedy! 
                                <br>
                              </p>
                              <p style="margin: 0px; padding: 0px;">
                                <br>
                              </p>
                              <p style="margin: 0px; padding: 0px;">To get full access to your account and start ejoying wholesale prices for your monthly staple food subcription, just click the button below. 
                              </p>
                              <p style="margin: 0px; padding: 0px;">
                                <br>
                              </p>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                    <!--[if (gte mso 9)|(IE)]></td></tr></table><![endif]-->
                  </td>
                </tr>
                <tr>
                  <td class="drow" style="background-color: #ffffff; box-sizing: border-box; font-size: 0px; text-align: center;" valign="top" align="center">
                    <!--[if (gte mso 9)|(IE)]><table width="100%" align="center" cellpadding="0" cellspacing="0" border="0"><tr><td valign="top"><![endif]-->
                    <div class="layer_2" style="max-width: 600px; display: inline-block; vertical-align: top; width: 100%;">
                      <table class="edcontent" style="border-collapse: collapse;width:100%" cellspacing="0" border="0">
                        <tbody>
                          <tr>
                            <td class="edbutton" style="padding: 20px;" valign="top">
                              <table style="text-align: center;margin:0 auto;" cellspacing="0" cellpadding="0" align="center">
                                <tbody>
                                  <tr>
                                    <td style="border-radius: 4px; padding: 12px; background: #8e1f2c none repeat scroll 0% 0%;" align="center">
                                      <a target="_blank" style="color: #ffffff; font-size: 16px; font-family: Helvetica, Arial, sans-serif; font-weight: normal; text-decoration: none; display: inline-block;"><span style="color: #ffffff;">Activate your account</span></a></td>
                                  </tr>
                                </tbody>
                              </table>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                    <!--[if (gte mso 9)|(IE)]></td></tr></table><![endif]-->
                  </td>
                </tr>
                <tr>
                  <td class="drow" style="background-color: #ffffff; box-sizing: border-box; font-size: 0px; text-align: center;" valign="top" align="center">
                    <!--[if (gte mso 9)|(IE)]><table width="100%" align="center" cellpadding="0" cellspacing="0" border="0"><tr><td valign="top"><![endif]-->
                    <div class="layer_2" style="max-width: 600px; display: inline-block; vertical-align: top; width: 100%;">
                      <table class="edcontent" style="border-collapse: collapse; width: 100%; background-color: #3c843c;" cellspacing="0" cellpadding="0" border="0">
                        <tbody>
                          <tr>
                            <td class="edimg" style="padding: 0px; box-sizing: border-box; text-align: center;" valign="top">
                              <img src="https://api.elasticemail.com/userfile/12301ee9-d04b-4adb-84db-0e43666eaa22/shapes_header1.png" alt="Image" style="border-width: 0px; border-style: none; max-width: 600px; width: 100%;" width="600">
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                    <!--[if (gte mso 9)|(IE)]></td></tr></table><![endif]-->
                  </td>
                </tr>
                <tr>
                  <td class="drow" style="background-color: #ffffff; box-sizing: border-box; font-size: 0px; text-align: center;" valign="top" align="center">
                    <!--[if (gte mso 9)|(IE)]><table width="100%" align="center" cellpadding="0" cellspacing="0" border="0"><tr><td valign="top"><![endif]-->
                    <div class="layer_2" style="max-width: 600px; display: inline-block; vertical-align: top; width: 100%;">
                      <table class="edcontent" style="border-collapse: collapse;width:100%" cellspacing="0" border="0">
                        <tbody>
                          <tr>
                            <td class="edtext" style="padding: 20px; text-align: left; color: #5f5f5f; font-size: 14px; font-family: Helvetica, Arial, sans-serif; direction: ltr; box-sizing: border-box;" valign="top">
                              <p class="text-center" style="text-align: center; margin: 0px; padding: 0px;">Need some help? Feel free to 
                                <a href="#" style="color: #3498db; text-decoration: none;">contact us at customercare@grocedy.com<br></a></p>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                    <!--[if (gte mso 9)|(IE)]></td></tr></table><![endif]-->
                  </td>
                </tr>
                <tr>
                  <td class="drow" style="background-color: #ffffff; box-sizing: border-box; font-size: 0px; text-align: center;" valign="top" align="center">
                    <!--[if (gte mso 9)|(IE)]><table width="100%" align="center" cellpadding="0" cellspacing="0" border="0"><tr><td valign="top"><![endif]-->
                    <div class="layer_2" style="max-width: 600px; display: inline-block; vertical-align: top; width: 100%;">
                      <table class="edcontent" style="border-collapse: collapse;width:100%" cellspacing="0" cellpadding="0" border="0">
                        <tbody>
                          <tr>
                            <td class="emptycell" style="padding: 10px;" valign="top">
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                    <!--[if (gte mso 9)|(IE)]></td></tr></table><![endif]-->
                  </td>
                </tr>
                <tr>
                  <td class="drow" style="background-color: #efefef; box-sizing: border-box; font-size: 0px; text-align: center;" valign="top" align="center">
                    <!--[if (gte mso 9)|(IE)]><table width="100%" align="center" cellpadding="0" cellspacing="0" border="0"><tr><td valign="top"><![endif]-->
                    <div class="layer_2" style="max-width: 600px; display: inline-block; vertical-align: top; width: 100%;">
                      <table class="edcontent" style="border-collapse: collapse;width:100%" cellspacing="0" border="0">
                        <tbody>
                          <tr>
                            <td class="edtext" style="padding: 20px; text-align: left; color: #5f5f5f; font-size: 14px; font-family: Helvetica, Arial, sans-serif; direction: ltr; box-sizing: border-box;" valign="top">
                              <p style="text-align: center; font-size: 10px; margin: 0px; padding: 0px;">If you no longer wish to receive mail from us, you can 
                                <a href="{unsubscribe}" style="background-color: initial; font-size: 10px; color: #828282; font-family: Helvetica, Arial, sans-serif; text-decoration: none;">Unsubscribe</a> 
                                <br>{accountaddress}
                              </p>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                    <!--[if (gte mso 9)|(IE)]></td></tr></table><![endif]-->
                  </td>
                </tr>
              </tbody>
            </table>
            <!--[if (gte mso 9)|(IE)]></td></tr></table><![endif]-->
          </td>
        </tr>
      </tbody>
    </table>
  </body>
</html>